:root {
  --layout-space: 2rem;
}

.root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.brand {
  font-size: 1.25rem;
  font-weight: bold;
  line-height: 1;
  margin: 1rem 0;
}

.top-bar {
  border-bottom: 1px solid var(--neutral);
  padding-inline: var(--layout-space);
}

.wrapper {
  display: flex;
  flex: 1;
}

.sidebar {
  padding: var(--layout-space);
  width: min(calc(100% - var(--layout-space)), 20rem);
  box-sizing: border-box;
}

.nav__list {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 0.875rem;
}

.nav__item {
  margin-inline: -0.5rem;
}

.nav__link {
  display: flex;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  color: var(--black);
  text-decoration: none;
  line-height: 1.5;
  margin-bottom: 0.25rem;
}

.nav__link.active,
.nav__link:hover {
  background: var(--neutral-light);
  cursor: pointer;
}

.nav__link--home {
  display: inline-flex;
  margin-bottom: 1rem;
}

.nav__link--home:hover {
  color: var(--light);
  background: var(--dark);
}

.nav__group {
  display: block;
  font-size: 0.75rem;
  font-weight: bold;
  margin-block: 0.5rem;
}

.main {
  padding: var(--layout-space);
  width: 100%;
  box-sizing: border-box;
}

.title {
  font-size: 2rem;
  margin: 0 0 2rem 0;
}

.playground {
  --rs-landing-demo-bg: #fff;
  --rs-landing-demo-dot-color: #e2e3e4; 

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  height: 80%;
  border-radius: 1rem;
  background: linear-gradient(90deg,var(--rs-landing-demo-bg) 10px,transparent 1%) 50%,linear-gradient(var(--rs-landing-demo-bg) 10px,transparent 1%) 50%,var(--rs-landing-demo-dot-color);
  background-size: 12px 12px;
  border: 1px solid var(--neutral);
}