.box.shadow {
  --shadow-color: rgba(0, 0, 0, 0.06);
  width: 18rem;
  border-radius: 1.5rem;
  background: linear-gradient(#fff, rgb(0 0 0 / 0.02));
  background-color: #fff;
  box-shadow:
    0 0 0 1px var(--shadow-color),
    0 1px 1px -0.5px var(--shadow-color),
    0 3px 3px -1.5px var(--shadow-color),
    0 6px 6px -3px var(--shadow-color),
    0 12px 12px -6px var(--shadow-color),
    0 24px 24px -12px var(--shadow-color);
}
