.flex {
  display: flex;
  gap: 2rem;
}

.preview {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  color: rgb(124, 124, 124);
  font-size: 0.875rem;
}

.preview-label {
  min-height: 1.1rem;
} 

.box {
  width: 10rem;
  aspect-ratio: 1;
  border-radius: 0.5rem;
  background-color: #fff;
}